# Create a copy of this file and rename it to '.env' alongside this template
# Standard: MODULE_VARIABLE = 'value' # Description

# WS_PORT = 3000 # WebSocket port
# REST_PORT = 3001 # REST API port
APP_PORT = 3000 # Application port

# Database configuration
DB_SYSTEM = 'mongodb' # Database system (mongodb, mysql, postgresql, sqlite)
DB_DATABASE = 'noodletop' # Database name